body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

canvas {
    border: 1px solid #555;
    background-color: #406343;
    border-radius: 10px;
}